body{
}

ul {
  list-style-type: none;
  margin: 10px;
}

a,a:link,a:visited,a:active{
  text-decoration:none;
  color:inherit;
}

a:hover{
  color:gray;
}

.createBox:hover, .modifyBox:hover{
  box-shadow: 0 5px 11px rgba(33,33,33,.2);
  transform: scale(1.1)
}


.topnav {
  text-align: center;
}

.box{
  width: 1500px;
  height: 1420px;
  margin: 0px auto;
  border: 2px solid beige;
  justify-content:center;
  flex-wrap: nowrap;
}

.empty_msg{
  margin-top: 50%;
  text-align:center;
}

.page{
  position:absolute;
  margin-left:45%;
}

.like:hover{
  cursor:pointer;
}

.login_button{
  margin-left: 68%;
  position:absolute;
  top: 5px;
}

.prdt_mngm{
  position:fixed;
}


.search_box{
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}

#butt{
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}

.card {
  margin:21px;
  float:left;
}

.card_box{
  margin-left: 90px;
  margin-top: 70px;
}

#card_like{
  margin-left: 85%;
}

.manage_box{
  display:flex;
  margin-top: 20%;
}
.createBox{
  position: absolute;
  border: 2px solid rgb(252, 122, 0);
  width: 250px;
  height: 170px;
  margin-left: 35%;
  border-radius: 10%;
  background-color: rgb(252, 122, 0);
  text-align: center;
  transition: transform 300ms;
}
.modifyBox{
  position: absolute;
  border: 2px solid rgb(110, 44, 0);
  width: 250px;
  height: 170px;
  margin-left: 55%;
  border-radius: 10%;
  background-color:rgb(110, 44, 0);
  text-align:center;
  transition: 300ms;
}

.box_text{
  margin-top: 25%;
  font-size: 28px;
  color:white;
}

.buy_prdt{
  justify-content:center;
  display:flex;
}

.prdt_info{
  text-align:center;
  width: 1400px;
  height: 900px;
  border-radius: 20%;
  margin-left:50px;
  margin-top:50px;
  margin-bottom:40px;
}
.info{
  margin-top: 60px;
}

.empty_border{
  border: 1px solid black;
}

.purc_btn{
  margin-top: 10px;
}

.frame{
  justify-content:center;
  display:flex;
}

.profile_box{
  border: 3px solid beige;
  width: 1700px;
  height: 1000px;
  margin-top: 30px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom:40px;
}

.purchase_box{
  width: 1800px;
  height: 1000px;
  margin-top: 30px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom:40px;
}
.profile_title{
  margin-top: 30px;
  margin-left: 40px;
}

.profile_text{
  margin-top: 40px;
  margin-left: 40px;
}

.profile_bio{
  border: 1px solid black;
  width: 600px;
  height: 260px;
}
.custom_container{
  background-color: #ffffff;
  width: 400px;
  margin: auto;
  min-height: 250px;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow:  0 20px 25px rgba(0,0,0,0.25);
}
.custom_container *{
  font-family: "Poppins",sans-serif;
  font-size: 16px;
}
.author_content{
  padding: 10px;
  text-align:left;
  display: block;
  width: 100%;
  min-height: 230px;
  resize: none;
  color: #202020;
  border: 2px solid orange;
  border-radius: 5px;
  outline:none;
}