.topnav {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 10px;
}

.box{
  width: 1500px;
  height: 1420px;
  margin: 0px auto;
  border: 2px solid orange;
  justify-content:right;
  flex-wrap: nowrap;
}

.empty_msg{
  margin-top: 50%;
  text-align:center;
}

.page{
  margin-left: 40%;
}

.login_button{
  margin-left: 65%;
  position:absolute;
  top: 5px;
}

.search_box{
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}

#butt{
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}
/* .card {
  margin:21px;
  float:left;
  width: 200px;
}
.card-body{
}
.card-title {
  text-align: center;
} */
.manage_box{
  display:flex;
  margin-top: 20%;
}
.createBox{
  position: absolute;
  border: 2px solid rgb(67, 148, 84);
  width: 250px;
  height: 170px;
  margin-left: 35%;
  border-radius: 10%;
  background-color: rgb(67, 148, 84);
  text-align: center;
}
.deleteBox{
  position: absolute;
  border: 2px solid rgb(218, 117, 117);
  width: 250px;
  height: 170px;
  margin-left: 55%;
  border-radius: 10%;
  background-color:rgb(218, 117, 117);
  text-align:center;
}

.box_text{
  margin-top: 25%;
  font-size: 28px;
  color:white;
}

.card {
  margin:21px;
  float:left;
  width: 200px;
}
.buy_prdt{
  justify-content:center;
  display:flex;
}

.prdt_info{
  text-align:center;
  border: 2px solid orange;
  width: 500px;
  height: 800px;
  border-radius: 10%;
  margin-left:50px;
  margin-top:50px;
}
.info{
  margin-top: 60px;
}