<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'SeasonMall:index' %}"><img src="/media/uploads/seasonmall_logo.png" width=150 height=50 style="margin-top:10px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'SeasonMall:index' %}"><h5>홈</h5></a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'SeasonMall:myprofile' %}" style="margin-left:10px;"><h5>내 정보</h5></a>
        </li>
        {% endif %}

        <li class="nav-item">
          {% if user.is_authenticated %}
          <div class="login_button d-flex">
            <a href="{% url 'SeasonMall:prdt_mngm' %}" style="width:150px;margin-top:10px;"><button class="btn btn-primary" style="margin-top:10px;">상품 등록/관리</button></a>
            <a class="nav-link" href="{% url 'common:logout' %}" style="width:150px;margin-left:10px; margin-top:10px;">{{ user.name }}<br>(로그아웃)</a>
          </div>
          {% else %}
          <div class="login_button">
            <a class="nav-link" href="{% url 'common:login' %}" style="margin-left:150px; margin-top: 20px;">로그인</a>
          </div>
          {% endif %}
        </li>
      </ul>
  </div>
</div>
</nav>