{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="frame">
  <div class="purchase_box">
    <div class="container">
      <h1>구매할 물품<h1>
    <table class="table">
      <thead>
        <tr class="thead-dark">
          <th style="font-size:20px;">상품번호</th>
          <th style="font-size:20px;">상품정보</th>
          <th style="font-size:20px;">가격</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span style="font-size:20px;">{{ product.id }}</span></td>
          <td>
            {% if product.image %}
            <img src="{{ product.image.url }}" width=100 height=100/><span id="p_name" data-name="{{ product.name }}" style="font-size:20px; margin-left:20px;">{{ product.name }}</span>
            {% else %}
            <img src="/media/uploads/no_image.png" width=100 height=100/><span id="p_name" data-name="{{ product.name }}" style="font-size:20px; margin-left: 20px;">{{ product.name }}</span>
            {% endif %}
          </td>
          <td><span id="p_price" data-price="{{ product.price }}" style="font-size:20px;">{{ product.price }} 원</span></td>
        </tr>
      </tbody>
    </table>
  </div>
    {% comment %} <h3>물품명:{{ product.name }}</h3>
    <h3>가격: {{ product.price }}</h3> {% endcomment %}
    <div class="type_info" style="margin-top: 150px;">
    <h1>배송 정보 입력</h1>
    <form method="post" class="post-form" action="{% url 'SeasonMall:payment' product.id %}">
      {% csrf_token %}
      {% include "form_errors.html" %}
      <div class="form-group">
        <label for="name">받을 분</label>
        <input type="text" class="form-control" name="name" id="name"
              value="{{ form.name.value|default_if_none:'' }}">
      </div>
      <div class="form-group">
        <label for="addr">배송주소</label>
        <input type="text" class="form-control" name="addr" id="addr"
              value="{{ form.addr.value|default_if_none:'' }}">
      </div>
      <div class="form-group">
        <label for="tel">휴대폰 번호</label>
        <input type="text" class="form-control" name="tel" id="tel"
              value="{{ form.tel.value|default_if_none:'' }}">
      </div>
      <div class="form-group">
        <label for="email">이메일</label>
        <input type="text" class="form-control" name="email" id="email"
              value="{{ form.email.value|default_if_none:'' }}">
      </div>
      <br>
      <input type="button" id="pay_button" class="btn btn-primary" value="카카오페이로 결제하기">
  </div>
</div>
</div>
<script>
    var price = document.querySelector('#p_price');
    price = price.dataset.price;
    var nm = document.querySelector('#p_name');
    nm = nm.dataset.name
    var IMP = window.IMP;
    IMP.init('imp19068409')
    $('#pay_button').click(function(){
      IMP.request_pay({
        pg : 'kakaopay',
        amount : price,
        pay_method : 'card',
        merchant_uid : 'merchant_'+new Date().getTime(),
        buyer_name : nm,
        buyer_tel : '010-1234-5678',
        buyer_email : "test@gmail.com",
        buyer_addr : "서울특별시",
        buyer_postcode : "12345",
        digital : true,
        name : nm
      }, function(rsp) {
        console.log(rsp);
        //결제 후 호출되는 callback함수
        if (rsp.success) { //결제 성공
          alert('결제성공')
        } else {
          alert('결제실패 : ' + response.error_msg);
        }
      })
    });
  </script>

{% endblock %}